
ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}
/* styles for card titles  */
.card-title {
    font-size: 20px;
    font-weight: 500;
}
/* styles for img size  */
img {
    width: 85px;
    height: 85px;
}

.fiveDayColor {
    padding: 20px;
    background-color: rgb(168, 217, 236);
    color: black;
    float: left;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black
    

}